*:focus {
    outline: none;
}

*::-webkit-scrollbar {
    display: none;
}

.greeting__title {
    font-size: 48px;
    color: #9D9D9D;
}

body {
    background: #0D0D0D;
    background-image: url("res/bg.png");
}

.kanban {
    display: flex;
    padding: 30px;
    width: 750px;
    background: #1E8AA9;
    border-radius: 10px;
}

.kanban * {
    font-family: 'Ubuntu', sans-serif;
}

.kanban__column {
    flex: 1;
}

.kanban__column:not(:last-child) {
    margin-right: 30px;
}

.kanban__column-title {
    margin-bottom: 20px;
    font-size: 30px;
    color: #0D0D0D;
    user-select: none;
}

.kanban__item-input {
    padding: 10px 15px;
    box-sizing: border-box;
    background: #2ebfe8; /* #9D9D9D */
    color: #333333;
    border-radius: 5px;
    cursor: pointer;
}

.kanban__dropzone {
    height: 10px;
    transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
    height: 20px;
    background-color: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    color: #0D0D0D;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}